@import '../../Variables.scss';

.about {
    width: 100%;
    background-color: $white;
    padding-top: 75px;

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 50px;
            color: $lightgray;

            span {
                color: $black;
            }
        }
    }

    .background {
        height: 100%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mua {
            height: 250px;
            width: 42%;
            border: 1px solid $black;
        }

        p {
            height: 100%;
            width: 58%;
            padding: 10%;
            text-align: center;
            color: $mediumgray;
        }
    }
}