@import '../../Variables.scss';

.home {
    height: 90vh;
    width: 100%;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home__Banner{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        h1 {
            .line {
                color: $lightgray;
                font-size: 90px;
                line-height: 90px;
                font-weight: 600;
                margin: 0;
                
                span {
                    color: $black;
                }
            }
        }
    }
}