@import '../../Variables.scss';

.contact {
    // height: 60vh;
    background-color: $mediumgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;

    h1 {
        text-align: center;
        padding: 40px 0;
        font-size: 3rem;
        font-weight: 300;
        color: $white;
    }

    .contact__box {
        // background-color: tomato;
        height: 250px;
        width: 80%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .contact__boxColumn {
            // background-color: peru;
            height: 100%;
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
        input {
            border: none;
            background: none;
            width: 100%;
            height: 100%;
            padding-top: 20px;
            outline: none;
        }
        label {
            text-transform: uppercase;
            color: $white;
            font-size: 0.8rem;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            pointer-events: none;

            &::after {
                content: '';
            }
        }

        .form {
            height: 50px;
            width: 100%;
            display: flex;
            position: relative;

            input {
                width: 100%;
                height: 50px;
                padding-top: 20px;
                color: $white;
                font-size: 1.3rem;
            }

            label {
                position: absolute;
                bottom: 0px;
                left: 0%;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid $white;
            }

            .content-name {
                position: absolute;
                bottom: 5px;
                left: 0px;
                transition: all 0.3s ease;
                color: $white;
            }

            input:focus + .label-name .content-name {
                transform: translateY(-150%);
                // font-size: 0.5rem;
            }

            .subtext {
                font-size: smaller;
                color: $lightgray;
            }
        }
        
        .message {
            height: 100%;
            width: 100%;
            position: relative;

            textarea {
                width: 100%;
                height: 100%;
                color: $white;
                font-size: 1.3rem;
                border: none;
                background: none;
                outline: none;
                resize: none;
                padding-top: 20px; 

                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-align: start;
                white-space: pre-wrap;
                column-count: initial !important;
                flex-direction: column;
            }
            
            label {
                // top: 100%;
                position: absolute;
                pointer-events: none;
            }
            .content-message {
                position: absolute;
                top: 20px;
                left: 0px;
                transition: all 0.3s ease;
                color: $white;
            }

            textarea:focus + .label-name .content-message {
                transform: translateY(-150%);
                // font-size: 0.5rem;
            }
        }
        
}
    
       
    .contact__Submit {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        button {
            position: relative;
            right: 15%;
            top: 15px;
            margin: 2% 0;

            border: none;
            background: none;
            color: $white;
            text-transform: uppercase;
            letter-spacing: .3rem;
            transition: .4s ease-out;
            text-align: center;
            padding: 5px;

            svg {
                fill: $white;
            }

            &:hover {
                cursor: pointer;

            }
        }
    }
}