@import '../../Variables.scss';

header {
    // background-color: $darkred;
    position: fixed;
    height: 150px;
    width: 100vw;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('<=phone'){
        height: 75px;
        
    }

    .container {
        // background-color: tomato;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            margin: 0 30px;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 0.5rem;
            color: $black;
            mix-blend-mode: difference;

        }

        .external {
            // background-color: $tan;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 15px;
            mix-blend-mode: difference;

            a {
                margin: 15px;
                text-decoration: none;
                color: $black;
                transition: 0.4s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                    opacity: 1.5;
                }
            }
            
            .MuiSvgIcon-root {
                margin: 0 15px;
                padding-bottom: 5px;
                color: $black;
                transition: 0.4s ease-in-out;
    
                &:hover{
                    // color: $darkred;
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
            
        }
    }
}