@import '../../Variables.scss';

.footer {
    height: 100px;
    width: 100vw;
    background-color: white;
    color: $mediumgray;
    display: flex;
    align-items: center;
    justify-content: center;
}