@import '../../Variables.scss';

nav {
    // background-color: $darkred;
    position: fixed;
    height: 75px;
    width: 100vw;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<=phone'){
        height: 56px;
    }

    .logo {
        // background-color: $tan;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .menu {
            width: 25px;
            margin: 30px 10px 30px 30px;
            @include media('<=phone'){
                width: 20px;
            }
            span {
                margin-bottom: 0.3rem;
                background: $black;
                height: 2px;
                width: 100%;
                display: block;
                transition: 0.4s ease-in-out;
            }
        }
        &:hover {
            span {
                background: $lightred;
                cursor: pointer;
            }
        }
        .name{
            margin: 1em;
        }
    }
    
    .external {
        // background-color: $tan;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 15px;
        
        .MuiSvgIcon-root {
            margin: 15px;
            transition: 0.4s ease-in-out;

            &:hover{
                color: $lightred;
                transform: scale(1.2);
                cursor: pointer;
            }
        }
        
    }
}